.empty-list::after{
  content: 'データがありません'
}

.toolbar{
  position: relative !important;
}

.hidden{
  display: none;
}

.searchConditionArea{

}
.searchConditionArea-closed{
  opacity: 0;
  height: 0;
}

#TopPage-carousel-wrapper{
  height: 40vh;
}
