.empty-list::after{
  content: 'データがありません'
}

.hidden{
  display: none;
}

.searchConditionArea{

}
.searchConditionArea-closed{
  opacity: 0;
  height: 0;
}

#TopPage-carousel-wrapper{
  height: 40vh;
}

.ArticleList .left{
  width: 35%;
  overflow: hidden;
}

ons-toolbar.toolbar{
  position: fixed;
}
ons-toolbar.toolbar + section{
  margin-top: 48px;
}
